<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net472" />
  <package id="NUnit" version="3.14.0" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net472" />
  <package id="Prism.Desktop.Net40" version="4.1.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>